- present comment do |comment_presenter|
  = div_for comment do
    .row
      .col-md-3
        %div= link_to comment_presenter.owner_name, user_app.user_path(comment.owner)
        %div= comment_presenter.posted_ago
      .col-md-7
        .comment-body= comment_presenter.body
      .col-md-2
        .action.pull-right
          = comment_presenter.reply_button
          = comment_presenter.edit_button
          = comment_presenter.delete_button

    - if comment.posted_by?(current_user)
      .edit-form.mt20
        = render 'courses/comments/form', comment: comment

    - else
      .reply-form.mt20
        - unless comment.posted_by?(current_user)
          = render 'courses/comments/form', comment: Courses::Comment.new(parent_id: comment.id)
