- present(@content) do |content|
  .header.mb20
    %h2= @content.title
    .text-muted= content.posted_on

  = @content.body.html_safe

  .action.mt30
    = link_to 'Edit content', course_app.edit_course_menu_content_path(current_course, current_menu, @content)

  = nested_comments(@comments)

  %h3 Comment
  = render 'courses/comments/form', comment: Courses::Comment.new
