- present(@content) do |content_presenter|
  .header.mb20
    %h2= content_presenter.title
    .text-muted= content_presenter.posted_on

  = content_presenter.body.html_safe

  .action.mt30
    = content_presenter.edit_button
    = content_presenter.delete_button

  = nested_comments(@comments)

  %h3 Comment
  = render 'courses/comments/form', comment: Courses::Comment.new
