= content_for :course do
  .container

    .row
      .col-md-12.course-head
        %h1= link_to current_course.title, course_app.course_path(current_course), class: 'course-title'

        By
        - current_course.mentors.each do |mentor|
          %span.mentor-link
          = link_to mentor.name, mentors_app.mentor_path(mentor)

    .row
      .col-md-3
        = render partial: 'globals/menu'
      .col-md-9
        = yield


= render template: 'layouts/application'
