.container
  .row
    .col-md-12
      %h1 New course

      = simple_form_for @course do |f|
        = f.input :title
        = f.input :description

        = f.collection_check_boxes :category_ids, @categories, :id, :name, include_hidden: false

        = f.submit class: 'btn btn-default'
