= simple_form_for [current_course, @menu] do |f|
  = f.input :name
  = f.input :position
  = f.button :submit

= link_to 'Back to edit', courses_app.menu_course_menus_path(current_course)

%div
  %h4 Danger Zone
  = link_to 'Delete Menu', course_menu_path(current_course, @menu), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }
