.container
  .row
    .col-md-12
      %h1= @course.title
      %small
        Taught by
        = link_to @course.owner.name, mentor_app.mentor_path(@course.owner)

      %p= @course.description

      #enrollment-action= @course.enroll_action_for(current_user)
      #go-to-course= @course.go_to_course(current_user)
