- present(@course) do |course_presenter|

  .container
    .row
      .col-md-12
        %h1= course_presenter.title
        %small
          Mentor
          = link_to course_presenter.owner.name, mentor_app.mentor_path(course_presenter.owner)

    .row
      .col-md-8
        %h2 About this course
        %hr
        .description= simple_format(course_presenter.description)

        %h2 Statistics
        %hr
        %ul.list-unstyled
          %li= "Offered since: #{course_presenter.created_date}"
          %li= "Fellow mentees: #{course_presenter.mentee_count}"

      .col-md-4
        %h2 Action
        %hr
        #go-to-course.mb10= course_presenter.go_to_course
        #enrollment-action.mb10= course_presenter.enroll_action

        #mentor-action
          .mb10= course_presenter.edit_course
