!!!
%html
  %head
    %title Lifeklass
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{id: "#{ controller_name }"}
    = render 'globals/header'

    = content_for?(:course) ? yield(:course) : yield
