!!!
%html
  %head
    %title LifeKlass
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

  %body{id: "#{ controller_name }"}
    = render 'globals/header'

    = content_for?(:course) ? yield(:course) : yield

    = render 'globals/footer'
